*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .about{
    width: 100%;
    padding: 80px;
    float: left;
    
}
h1{
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    
}
h5{
    font-size: 25px;
    
}
p{
    
    font-size: 15px;

}